android-videostreamdecodingsample/jni/libffmpeg.so filter=lfs diff=lfs merge=lfs -text
android-videostreamdecodingsample/jni/lib/libavformat.a filter=lfs diff=lfs merge=lfs -text
android-videostreamdecodingsample/jni/lib/libavcodec.a filter=lfs diff=lfs merge=lfs -text
